

.nav-item.dropdown .dropdown-menu {display:none;}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar-brand {display: inline-block;}
.navbar-brand img {display: block;width: 100px;}
.nav-link {color:#000000;}

.dropdown > .dropdown-menu {width: 500px;padding: 20px;}

.navbar-nav > li {padding:0 20px;}
.dropdown > .dropdown-menu ul > li {margin-left:20px;}
.dropdown-menu-inner ul > li a {
  color: #000000;
}

.dropdown-menu-inner ul > li a:hover {color:#a94196}

.navbar-nav .dropdown-menu:before {
    background: #fff;
    box-shadow: none;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    left: 20px;
    position: absolute;
    bottom: 100%;
    transform: rotate(-45deg) translateY(1rem);
    z-index: -5;
    border-radius: 0.2rem;
}
.navbar-nav .dropdown-menu ul li {list-style: circle;}

.hd-rt i {margin-right: 5px;}
.top-btn i {color:green;font-size: 1.5rem;}
.top-mail i {color:#3c2f8b;font-size: 1rem;}

.top-btn button {background-color: transparent;}

.hd-rt button, .hd-rt a {color:#3c2f8b}

.hd-rt button:hover, .hd-rt a:hover {color:#a94196}


.mob-nav {display: none;}




@media (max-width: 992px) {
  .dropdown-menu {display: none !important;}
  .navbar button.navbar-toggler span {
    
    outline: 0;
}
.navbar  .dropdown-toggle::after {display: none !important;}

.navbar button.navbar-toggler {
  background: #8e8c9a !important;
}

div#navbarNav {display: none;}
.mob-nav {display: block;}

}

@media (max-width:420px) {
  .top-mail, .top-btn {
    width: 100%;
    margin:10px 0;
 
}
.hd-rt {display: block !important;text-align: center !important;}
.offcanvas {width: 70% !important;}
}
