<footer class="footer py-5 bc-gray">
 
    <div class="container" >
      <div class="row row-grid align-items-center text-center text-md-center text-lg-start">
        <div class="col-lg-6">
          <h4 class="text-white font-weight-light mb-2">Thank you for supporting us!</h4>
          <h6 class="mb-0 font-weight-light text-white">Let's get in touch on any of these platforms.</h6>
          </div>
  
        <div class="col-lg-6 text-md-center  text-sm-center text-lg-right btn-wrapper mt-3">
            <div class="social-icons">
          <a  target="_blank" [href]="sathizie('https://www.facebook.com/profile.php?id=61552682520367')" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg">
            <i class="fa fa-facebook"></i>
          </a>
          <a target="_blank" [href]="sathizie('https://www.instagram.com/softgenicservices')"   class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round">
            <i class="fa fa-instagram"></i>
          </a>
          <a target="_blank"  class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </div>
    </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-md-between text-white">
        <div class="col-12 col-md-12 col-lg-6 pb-2 text-center text-md-center text-lg-start">
          <div class="copyright">
            &copy; {{test | date:"yyyy"}}
            <a  target="_blank">SoftGenic Services</a>.
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <ul class="nav nav-footer justify-content-lg-end justify-content-md-center justify-content-center">
            <li class="nav-item">
                <a [routerLink]="['']" class="nav-link">Home</a>
              </li>
            <li class="nav-item">
              <a [routerLink]="['/about']" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/services']" class="nav-link">Services</a>
            </li>
           
            <li class="nav-item">
              <a [routerLink]="['/contact']" class="nav-link">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  