<div class="container">
    <div class="row justify-content-between align-items-center text-center text-md-center text-lg-left">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <h2 class="text-dark font-weight-bold mb-3 text-uppercase">About US</h2>
        <p class="description text-dark mt-4">At Soft Genic, we are passionate about the digital world and dedicated to crafting exceptional web experiences. We are a team of skilled and creative web developers who thrive on turning your ideas into functional, visually stunning, and user-friendly websites</p>
      </div>
      <div class="col-lg-6 mb-lg-auto">
        <div class="rounded shadow-lg overflow-hidden">
          <img class="img-fluid" src="../assets/img/brand/about.jpg" alt="about">
          <!-- <ngb-carousel>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/img-1-1200x1000.jpg" alt="First slide">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/img-2-1200x1000.jpg" alt="Second slide">
              </ng-template>
          </ngb-carousel> -->
        </div>
      </div>
    </div>
  </div>