<section class="page-section d-flex align-items-center clearfix">
    <div class="container">
        <div class="intro">
            <!-- <img class="intro-img" src="assets/images/hero.jpg" alt="hero" /> -->
            <div class="col-6 intro-text left-0 bg-faded p-5 rounded align-middle">
                <h1 class="mb-3 text-white">
                  Soft Genic Services
                </h1>
                <p class="mb-4 text-white">Transforming Ideas into Web Realities.</p>
                <div class="intro-button mx-auto"><a class="btc-secondary rounded-pill px-4 py-3 fw-bold d-inline-block" href="#">Contact Us Today!</a></div>
            </div>
        </div>
    </div>
</section>

<section class="page-section2 d-flex align-items-center clearfix bc-light">
<div class="container">
<h2 class="section-heading text-center">Our Services</h2>
<div class="grid">
    <div class="serv-box g-col-6 g-col-md-4 p-5 pt-0">
      <div class="serv-i s-icon1"><a href="#"></a></div>
      <h5 class="mb-3"><a href="#">PSD to HTML Conversion</a></h5>
      <p class="description mb-2">Transform your creative designs into functional web pages with our PSD to HTML conversion service.</p>
         </div>

    <div class="serv-box g-col-6 g-col-md-4 p-5 pt-0">
        <div class="serv-i s-icon2"><a href="#"></a></div>
      <h5 class="mb-3"><a href="#">WordPress Development</a></h5>
      <p class="description mb-2">Harness the power of WordPress for your web presence.</p>
         </div>

    <div class="serv-box g-col-6 g-col-md-4 p-5 pt-0">
        <div class="serv-i s-icon3"><a href="#"></a></div>
      <h5 class="mb-3"><a href="#">Angular Web Development</a></h5>
      <p class="description mb-2">Leverage the power of Angular to build dynamic and interactive web applications.</p>
         </div>
    
    <div class="serv-box g-col-6 g-col-md-4 p-5 pt-0">
        <div class="serv-i s-icon4"><a href="#"></a></div>
      <h5 class="mb-3"><a href="#">Single Page Application</a></h5>
      <p class="description mb-2">Experience the benefits of a Single Page Application (SPA) for your web presence.</p>
         </div>
    <div class="serv-box g-col-6 g-col-md-4 p-5 pt-0">
        <div class="serv-i s-icon5"><a href="#"></a></div>
        <h5 class="mb-3"><a href="#">Ionic</a></h5>
        <p class="description mb-2">Experience in Ionic  to perform fast on the all of the latest mobile devices.</p>
                 </div>
          <div class="serv-box g-col-6 g-col-md-4 p-5 pt-0">
            <div class="serv-i s-icon6"><a href="#"></a></div>
            <h5 class="mb-3"><a href="#">Android and IOS</a></h5>
            <p class="description mb-2">Experience in to build high-quality iOS, Android  Apps.</p>
                         </div>
  </div>


</div>
</section>

<section class="page-section3 d-flex align-items-center clearfix">
  <div class="container">

    <div class="d-flex align-items-baseline">
      <div class="col-lg-6"><div class="about-img"><img src="../assets/images/about-img.jpg" alt="about-img"></div></div>
      <div class="col-lg-6 abt-cnt">
        <div class="abt-box text-white bc-gray p-5">
        <h2>About us</h2>
        <p class="mb-4">At Soft Genic, we are passionate about the digital world and dedicated to crafting exceptional web experiences. We are a team of skilled and creative web developers who thrive on turning your ideas into functional, visually stunning, and user-friendly websites.</p>
        <div class="intro-button mx-auto"><a class="btc-white rounded-pill px-4 py-3 fw-bold d-inline-block" href="#">Learn More</a></div>
      </div>
      </div>
    </div>
  </div>
</section>

