<section class="page-section d-flex align-items-center clearfix">
    <div class="container">
        <div class="intro ripple pinkBg">
            <!-- <img class="intro-img" src="assets/images/hero.jpg" alt="hero" /> -->
            <div class="col-lg-6 col-12 intro-text left-0 bg-faded p-3 p-sm-3 p-lg-5 rounded align-middle text-center text-lg-start">
                <h1 class="mb-3 text-white">
                  Soft Genic Services
                </h1>
                <p class="mb-4 text-dark fw-bold">Transforming Ideas into Web Realities.</p>
                <div class="intro-button mx-auto"><a class="btc-secondary rounded-pill px-4 py-3 fw-bold d-inline-block" [routerLink]="['/contact']">Contact Us Today!</a></div>
            </div>
        </div>
    </div>
</section>


<section class="page-section2 d-flex align-items-center clearfix bc-light">
<div class="container">
<h2 class="section-heading text-center">Our Services</h2>
<div  class="grid services-slide owl-carousel">
 

    <div class="serv-box p-lg-5 p-sm-4 p-4 pt-0 pt-sm-0 pt-lg-0" [routerLink]="['/psd-html']">
      <div class="serv-i s-icon1"><a>icon1</a></div>
      <h5 class="mb-3">PSD to HTML Conversion</h5>
      <p>{{psd | WordcountPipe :10}}</p>
         </div>

    <div class="serv-box p-lg-5 p-sm-4 p-4 pt-0 pt-sm-0 pt-lg-0" [routerLink]="['/wordpress']">
        <div class="serv-i s-icon2"><a >icon2</a></div>
      <h5 class="mb-3">WordPress Development</h5>
      <p>{{wordpress | WordcountPipe :10}} </p>
         </div>

    <div class="serv-box p-lg-5 p-sm-4 p-4 pt-0 pt-sm-0 pt-lg-0" [routerLink]="['/angular']">
        <div class="serv-i s-icon3"><a>icon3</a></div>
      <h5 class="mb-3">Angular Web Development</h5>
      <p> {{angular | WordcountPipe :10}}</p>
         </div>

        
    
    <div class="serv-box p-lg-5 p-sm-4 p-4 pt-0 pt-sm-0 pt-lg-0" [routerLink]="['/singlepage']">
        <div class="serv-i s-icon4"><a>icon4</a></div>
      <h5 class="mb-3">Single Page Application</h5>
      <p> {{ single| WordcountPipe :10}}</p>
         </div>
    <div class="serv-box p-lg-5 p-sm-4 p-4 pt-0 pt-sm-0 pt-lg-0" [routerLink]="['/ionic']">
        <div class="serv-i s-icon5"><a>icon5</a></div>
        <h5 class="mb-3">Ionic</h5>
        <p> {{ionic | WordcountPipe :10}}</p>
                 </div>
          <div class="serv-box p-lg-5 p-sm-4 p-4 pt-0 pt-sm-0 pt-lg-0"  [routerLink]="['/ios-android']">
            <div class="serv-i s-icon6"><a>icon6</a></div>
            <h5 class="mb-3">Android and IOS</h5>
            <p>{{ ios | WordcountPipe :10}}</p>
                         </div>

  </div>

</div>

</section>




<section class="page-section3 d-flex align-items-center clearfix">
  <div class="container">

    <div class="row d-flex align-items-baseline  flex-row-reverse">
     
      <div class="col-lg-6 col-md-6 col-12 abt-cnt">
        <div class="abt-box text-white bc-gray p-lg-5 p-4 text-lg-start text-md-center text-center">
        <h2>About us</h2>
        <p class="mb-4">At Soft Genic, we are passionate about the digital world and dedicated to crafting exceptional web experiences. We are a team of skilled and creative web developers who thrive on turning your ideas into functional, visually stunning, and user-friendly websites.</p>
        <div class="intro-button mx-auto"><a class="btc-white rounded-pill px-4 py-3 fw-bold d-inline-block" 
          [routerLink]="['/about']">Know More</a></div>
      </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12"><div class="about-img"><img src="../assets/images/about-img.jpg" alt="about-img"></div></div>
    </div>
  </div>
  
</section>

<section class="page-section4 d-flex align-items-center clearfix bc-light">
  <div class="container">
    <h2 class="section-heading text-center mb-5 text-white">Why Choose Us?</h2>
    <div class="grid text-center">
    <div class="choos-box g-col-12 g-col-md-6 g-col-lg-3 p-4">
      <h5 class="mb-3">Expertise</h5>
      <p>We are experienced web developers having well-versed in the latest technologies and trends in web development. We bring a wealth of knowledge to every project, ensuring that your website is built to industry best practices.</p>
         </div>
         <div class="choos-box g-col-12 g-col-md-6 g-col-lg-3 p-4">
          <h5 class="mb-3">Custom Solutions</h5>
          <p>We understand that every project is unique. That's why we take a personalized approach to web development, tailoring our solutions to meet your specific needs and goals</p>
             </div>
            <div class="choos-box g-col-12 g-col-md-6 g-col-lg-3 p-4">
            <h5 class="mb-3">User-Centric Approach</h5>
            <p>We prioritize the user experience in everything we do. Our websites are designed with your target audience in mind, making sure they are easy to navigate, responsive on all devices, and optimized for performance.</p>
            </div>
            <div class="choos-box g-col-12 g-col-md-6 g-col-lg-3 p-4">
            <h5 class="mb-3">Timely Delivery</h5>
            <p>We understand the importance of deadlines. When you work with us, you can count on us to deliver your project on time and within budge</p>
              </div>
            
</div>

    </div>
    </section>


<section class="page-section5 clearfix">
  <div class="container">

    
    <div class="row d-flex align-items-center">
     
    <div class="col-lg-6 col-md-6 col-12 mission-box p-lg-5 p-4 p-40 bc-gray text-white text-lg-start text-md-center text-center">
      <h2>Our Mission</h2>
     <p>Our mission is simple to empower businesses and individuals with the digital tools they need to succeed in the online landscape. We believe that a well-designed website is more than just a digital presence; it's a powerful asset that can help you connect with your audience, showcase your brand, and achieve your goals.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <div class="miss-img">
        <img src="../assets/images/mission-img.jpg" alt="our-mission-image">
      </div>
     </div>
    
    </div>


    </div>
    </section>

